form {
    padding: 10px 20px;
    display: block;
    margin-top: 0em;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #E5E5E5;
    width: 200px;
    color: #999999;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
}

.form label {
    margin-left: 10px;
    color: #999999;
}

textarea {
    width: 400px;
    height: 150px;
    max-width: 400px;
    line-height: 18px;
    font-family: monospace;
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 2px;
}

.submit input {
    width: 100px;
    height: 40px;
    background-color: #474E69;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
