<div class="news_outer">
    <div class="news_header">
        <div style="padding: 3px; height: 100%; padding-left: 10px; padding-right: 10px;">
            <h2>{{news.header}}</h2>
        </div>
    </div>
    <div class="share_options">
        <div style="padding: 3px; height: 100%;">
            <a href="#">Share</a>
        </div>
    </div>
    <div class="news_body">
        <div style="height: 100%;">
            <div class="news_image">
                <img src="assets/img/binary-code.jpg" style="height: 100%; width: 100%;">
            </div>
            <div class="news_text">

            </div>
        </div>
    </div>
</div>
<div style="height: 10px;"></div>
