<div style="height: 100%;">
    <div class="col-md-3 social_icon"><img src="assets/img/facebook.png" alt=""></div>
    <div class="col-md-3 social_icon"><img src="assets/img/twitter.png" alt=""></div>
    <div class="col-md-3 social_icon"><img src="assets/img/linkedin.png" alt=""></div>
    <div class="col-md-3 social_icon"><img src="assets/img/youtube.png" alt=""></div>
</div>
<style>
    .social_icon > img{
        height: 20px;
        width: 20px;
        border:1px solid rgba(0,0,0,.125);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    }

    .social_icon{
        margin: 1px 0;
    }

</style>