.comment_border_css{
    border-style: solid;
    border-width: 1px;
}

.comments_module{
    margin-top : 5px;
    background : #F2F7FF;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.comment_expanding{
    height: 100%;
    width: 90%;
    float:right;
    border-left: 1px solid black;
}
.comment_table td{
    text-align: center;
}

.comment_author_pic{
    height: 120px;
    width: 10%;
    float:left;
    padding: 5px;
}

.comment_actions{
    height: 25px;
    padding: 2px 5px;
    font-size: small;
}