.news_outer{
    height: 250px;
    width: 100%;
}

.news_header{
    height: 25%;
    background-color: #ebebeb;
    overflow:hidden;
    padding-left: 5px;
    padding-right: 5px;
}

.share_options{
    height: 15%;
    background-color: #ccffcc;
}

.news_body{
    height: 60%;
    background-color: #cee7ff;
}

.news_image{
    height: 100%;
    width: 150px;
    float:left;
    padding:2px;
}

.news_text{
    text-overflow: ellipsis;
    width: calc(100% - 150px);
    height: 97%;
    float: right;
    padding:5px 5px;
    overflow:hidden;
    font-size: 18px;
}