<div id="comments_module" ng-style="{{comment_border_css}}">
    <div style="height:auto; background: #d9edf7">
        <div style="height: auto; display: block; background: #d9edf7;" >
            <div id="comment_author_pic" >
                <div style="height: 100px;">
                    <img style="height: 100%; width: 100%;" src="assets/img/user-icon.png" alt="">
                </div>
                <div style="height: 50px; text-align: center; overflow: hidden;">
                    Ahmet Bey
                </div>
            </div>
            <div id="comment_expanding" style="" >
                <div id="author" style="height: 30px; padding: 5px; width: 100%;" >
                    <div style="height: 100%; width: 100%;">
                        <div style="height: 100%; min-width: 50px; overflow: hidden; float: left; "><b>Said Nuri UYANIK</b></div>
                        <div style="height: 100%; min-width: 50px; overflow: hidden; float: left; margin-left: 40px;" ><b>22.02.2017</b></div>
                        <div style="height: 100%; min-width: 50px; overflow: hidden; float: right; margin-right: 20px;"><b>Hide</b></div>
                    </div>
                </div>
                <div style="height: 1px;background: black"></div>
                <div id="comment_body" style="padding: 5px;">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </div>
                <div style="height: 1px;background: black"></div>
                <div id="comment_actions" style="">
                    <table id="comment_table" style="height: 100%; padding: 5px;">
                        <tr>
                            <td id="comment_like_count" style="height: 100%; width: 20px;">
                                <b>21</b>
                            </td>
                            <td id="comment_like_b" style="height: 100%; width: 20px;">
                                <a href="#" ><img src="assets/img/caret-up.png" alt=""></a>
                            </td>
                            <td style="width: 10px;"></td>
                            <td id="comment_dislike_count" style="height: 100%; width: 20px;">
                                <b>11</b>
                            </td>
                            <td id="comment_dislike_b" style="height: 100%; width: 20px;">
                                <a href="#" ><img src="assets/img/caret-down.png" alt=""></a>
                            </td>
                            <td style="width: 30px;"></td>
                            <td id="reply_b" style="height: 100%; width: 50px;"><b>Reply</b></td>
                            <td style="width: 10px;"></td>
                            <td id="share_b" style="height: 100%; width: 50px;"><b>Share</b></td>
                        </tr>

                    </table>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>

    </div>
</div>
<style>
    #comments_module{
        margin-top : 5px;
        background : #F2F7FF;
        box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #comment_expanding{
        height: 100%;
        width: 90%;
        float:right;
        border-left: 1px solid black;
    }
    #comment_table td{
        text-align: center;
    }

    #comment_author_pic{
        height: 160px;
        width: 10%;
        float:left;
        padding: 5px;
    }

    #comment_actions{
        height: 23px;
        padding: 2px 5px;
        font-size: small;
    }
</style>